.chordtab {
	border: .08em 0 solid black;
	border-top: .3em solid black;
	display: inline-block;
}
@for $i from 1 through 8 {
	@for $j from 1 to 12 {
		.chordtab.s#{$i - 1}-#{$j}>.string:nth-child(#{$i})>span:nth-child(#{$j})::before {
			visibility: visible;
		}
	}
}
.chordtab>.string>span::before {
	content: '●';
	visibility: hidden;
}
.string>span {
	display: block;
	border-bottom: .08em solid black
}
.string {
	display: inline-block;
}
.string > span::after {
  content: ' ';
  margin-left: -50%;
  border-left: .08em solid black;
  height: 100%;
}
